# suppress inspection "SpringBootApplicationProperties" for whole file
# 开发环境配置
server:
  port: 8087

##############################
# 数据源
##############################
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/admin_dev?useUnicode=true&characterEncoding=utf-8&useLegacyDatetimeCode=false&serverTimezone=UTC
    username: root
    password: root
    driver-class-name: com.mysql.jdbc.Driver

##############################
# 日志级别
##############################
logging:
  level: debug